<form id="search-form" action="<%= log_workouts_path(log) %>" method="get">
    <label for="text_search">Search Workouts:</label>
    <input type="search" id="text_search" name="text_search">
    <input type="submit" value="Search">
</form>
