@import "globals";

#calendar {
    height: 500px;
    margin: 20px 0;
    border: 1px solid black;
    overflow: auto;
    padding: 0 5px; /* Otherwise there is horizontal overflow for some reason */
}

.month {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;

    .title {
        background: none;
        border: none;

        h2 {
            margin: 3px;
        }
    }

    th, td {
        border: 1px solid gray;
        padding: 0 3px;
        vertical-align: top;
    }

    th, .other-month, .weekly-total {
        background-color: $main_blue;
    }

    td {
        height: 3em;

        ul {

            list-style: none;
            padding: 0;
            margin: 5px;

            a {
                color: black;
            }
        }
    }

    .date {
        margin: 0;

        a {
            color: maroon;
        }

        &.today a {
            color: blue;
        }
    }

    tfoot {
        background-color: $main_blue;

        td {
            height: 1em;
        }
    }
}
