<form action="<%= log_path(log) %>" method="GET" id="calendar-controller">
    <label for="select-month">Go To:</label>
    <%= select_month(month, {}, {id: "select-month", name: "month"}) %>
    <input type="number" id="select-year" name="year" value="<%= year %>">
    <input type="submit">
</form>
